<!-- <div class="topnav2">
  <ul>
    {% for item in site.data.toc.toc %}
  <!-- <h3>{{ item.title }}</h3>
  <p>hello</p> -->


<!--
      <li>
        <a href="{{ item.url }}">
          {{ item.title }}
      </li>
      {% endfor %}
  </ul>
</div> --> 
<div class="menu">
  <ul class="menu-list">
    <li><a href="/jadesproject9/">Home</a></li>
    <li><a href="about">About</a></li>
    <li>
      <a href="ForbbidenCityMap.html">Forbidden City Map</a>
    </li>
    <li>
      <a href="Hindustan Jades Collection">Hindustan Jades Collection</a>
        <ul class="sub-menu">
            <li><a href="QianQingGong_exhibit.html">Qian Qing Gong Palace</a></li>
            <li><a href="YiHeXuan_exhibit.html">Yi HeXuan Palace</a></li>
            <li><a href="YongShouGong_exhibit.html">YongShou Gong Palace</a></li>
        </ul>
    </li>
    <li><a href="#">Contact</a></li>
  </ul>
  </div>
<!--   
      <a href="about">About</a>
      <ul>
        <li>About</li>
        <li>Maps
          <ul>
            <li>Forbidden City</li>
            <li>Place Names in Inscribed Poems</li>
            <li>Place Names in Published Texts</li>
          </ul>
        </li>
        <li>Exhibits
        </li> -->
      <!-- <a href="ForbbidenCityMap.html">Forbidden City Map</a> -->
      <!-- <a href="HindustanCollection.html">Hindustan Jades Collections</a>
      <a href="PlaceNameMap_inscribed_072023">Inscribed Texts Place Name Map</a>
      <a href="PlaceNameMap_published_072023">Published Texts Place Name Map</a>
      <a href="YongShouGong_exhibit.html">Yong Shou Gong Exhibit</a> -->
      <!-- <a href="QianQingGong_exhibit.html">Qian Qing Gong Exhibit</a> -->
      <!-- <a href="YiHeXuan_exhibit.html">Yi He Xuan Exhibit</a> -->
    <!-- </div>  -->
<!-- <div></div>

<!-- add checkbox -->
<!-- <input type="checkbox" id="hamburger-input" class="burger-shower" /> -->

<!--
  We use a `label` element with the `for` attribute
  with the same value as  our label `id` attribute
-->


<!-- <label id="hamburger-menu" for="hamburger-input">
  <nav id="sidebar-menu">
    <ul>
      <li><a href="about">About</a></li>
      <li><a href="ForbbidenCityMap.html">Forbidden City Map</a></li>
      <li><a href="HindustanCollection.html">Hindustan Jades Collections</a></li>
      <li><a href="PlaceNameMap_inscribed_072023">Inscribed Texts Place Name Map</a></li>
      <li><a href="PlaceNameMap_published_072023">Published Texts Place Name Map</a></li>
      <li><a href="YongShouGong_exhibit.html">Yong Shou Gong Exhibit</a></li>
      <li><a href="QianQingGong_exhibit.html">Qian Qing Gong Exhibit</a></li>
      <li><a href="YiHeXuan_exhibit.html">Yi He Xuan Exhibit</a>
</li>
      </ul>
    </nav>
</label> -->
<!--
  Adding an overlay to show a dark
  background when the menu appears
-->
<!-- <div class="overlay"></div> -->
