<!-- current menu with no drop down -->

<!-- <div class="menu">
  <ul class="menu-list">
    <li><a href="/jadesproject9/">Home</a></li>
    <li><a href="about">About</a></li>
    <li>
      <a href="ForbbidenCityMap.html">Forbidden City Map</a>
    </li>
    <li>
      <a href="HindustanCollection.html">Hindustan Jades Collection</a>
        <ul class="sub-menu">
            <li><a href="QianQingGong_exhibit.html">Qian Qing Gong Palace</a></li>
            <li><a href="YiHeXuan_exhibit.html">Yi HeXuan Palace</a></li>
            <li><a href="YongShouGong_exhibit.html">YongShou Gong Palace</a></li>
        </ul>
    </li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
  </div> -->

  <div class="navbar">
    <a href="/jadesproject9/">Home</a>
    <a href="about">About</a>
    <a href="ForbbidenCityMap.html">Forbidden City Map</a>
    <div class="dropdown">
      <button class="dropbtn">Hindustan Jades Collection
        <i class="fa fa-carat-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="HindustanCollection.html">Full Collection</a>
        <a href="QianQingGong_exhibit.html">Qian Qing Gong Palace</a>
      </div>
    </div>
  </div>