/*adding google fonts url for each font I want to import)*/


/* colors used
  #96aa82 jade green
  */


<style>
/* English Font Imports */
  @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');*/
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

/* Chinese Font Imports */
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');*/


/* Basic styling*/
p, ol, ul, a {
  margin: 0;
  padding: 0;
  color: #000
}

p, ol, ul {
  font-family: "sans-serif";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-left: 80px;
  margin-right: 80px;
  color: #000;
  /* background-color: #96aa82 */
  }

p {
  font-size: 20px
}

ul {
  font-size: 20px
}

body {
  background-color: #96aa82;
  margin-left: 0;
  margin-right: 0;
  overflow: auto;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a.site-title {
  color: white;
  background-color: black;
  font-size: 25px;
  font-weight: 275;
  letter-spacing:0.2em;
  text-transform: uppercase;
  display: block;
  padding-top: 3%;
  margin-left: 13%;
}

h1, h2 {
  font-family: "sans-serif";
  font-size: 25px;
  font-weight: bold;
}

header {
  font-family: "sans-serif"
  font-weight: 400;
  font-size: 22px;
}
/* menu settings */
.menu {
  background: #000;
  position: fixed;
  top: 0;
  width: 100%;
}
/* remove bullets from list style */
.menu .menu-list, .menu .sub-menu{
  list-style: none;
}
/* configure links in menu */
.menu a{
  color: #fff;
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing:0.2em;
}
/* make this menu <li>s horizontal */
.menu > .menu-list > li{
  float: left;
  position: relative;
}
/* Configure main menu links */
.menu > .menu-list > li > a {
  padding: 20px;
  margin: 0 5px;
  background: #000;
}
/* Set main menu background when mouse hover */
.menu > .menu-list > li:hover a {
  background: #444;
}
/* Show submenu on mouse hover event */
.menu > .menu-list > li:hover > .sub-menu {
  display: block;
  background: #444;
}
/* Configure the style of submenu */
.menu > .menu-list > li > .sub-menu {
  position: absolute;
  top: 50px;
  left: 5px;
  background: #444;
  min-width: 200px;
  z-index: 1000;
  display: none;
}
/* Configure submenu links */
.menu > .menu-list > li > .sub-menu > li > a {
 padding: 10px 20px;
}
/* Clearfix menu */
.menu:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


  /**
  * Site header
  */
  .site-header {
    border-top: 5px solid black;
    padding: 10px 0;
    font: 400 16px/1.5 "Noto Sans"
    font: 12px "Noto Sans"
}

.site-footer {
  border-top: 5px solid black;
  padding: 10px 0;
  font: 400 16px/1.5 "Noto Sans"
  font: 12px "Noto Sans"
}

/**
 * Wrapper */
 
 .sr-2 {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-left: 100px;
  padding-right: 40px;
  text-decoration: none;
  font-size: 50px;
  overflow: auto;
  display: block;
 }

 /* sr-2.site-title{
  text-align: left;
 } */

/* .site-nav {
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 25px;
      background-color: #FFFF;
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }
    }
  }
} */

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: black;
  font: "Noto-Sans";
  color: #fff;
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing:0.2em;
  padding-top: 3%;
  padding-bottom: 1%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: "Noto-Sans";
  text-transform: uppercase;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  font-weight: 500;
  letter-spacing:0.2em;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  text-transform: uppercase;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.container img {
  width: 13%;
  height: 11%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: black;
  overflow: auto;
}