/*adding google fonts url for each font I want to import)*/


/* colors used
  #96aa82 jade green
  */


<style>
/* English Font Imports */
  @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');*/
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

/* Chinese Font Imports */
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');*/


/* Basic styling*/
p, ol, ul, a {
  margin: 0;
  padding: 0;
  color: #000
}

p, ol, ul {
  font-family: "sans-serif";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-left: 80px;
  margin-right: 80px;
  color: #000;
  /* background-color: #96aa82 */
  }

p {
  font-size: 20px
}

ul {
  font-size: 20px
}

body {
  background-color: #96aa82;
  margin-left: 0;
  margin-right: 0;
}

a {
  text-decoration: none;
  color: black;
}

a.site-title {
  color: black; 
  text-align: center;
}

h1, h2 {
  font-family: "sans-serif";
  font-size: 25px;
  font-weight: bold;
}

header {
  font-family: "sans-serif"
  font-weight: 400;
  font-size: 22px;
}

/* menu settings */
.menu {
  background: #000;
  position: fixed;
  top: 0;
  width: 100%;
}
/* remove bullets from list style */
.menu .menu-list, .menu .sub-menu{
  list-style: none;
}
/* configure links in menu */
.menu a{
  color: #fff;
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing:0.2em;
}
/* make this menu <li>s horizontal */
.menu > .menu-list > li{
  float: left;
  position: relative;
}
/* Configure main menu links */
.menu > .menu-list > li > a {
  padding: 20px;
  margin: 0 5px;
  background: #000;
}
/* Set main menu background when mouse hover */
.menu > .menu-list > li:hover a {
  background: #444;
}
/* Show submenu on mouse hover event */
.menu > .menu-list > li:hover > .sub-menu {
  display: block;
  background: #444;
}
/* Configure the style of submenu */
.menu > .menu-list > li > .sub-menu {
  position: absolute;
  top: 50px;
  left: 5px;
  background: #444;
  min-width: 200px;
  z-index: 1000;
  display: none;
}
/* Configure submenu links */
.menu > .menu-list > li > .sub-menu > li > a {
 padding: 10px 20px;
}
/* Clearfix menu */
.menu:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

  /**
  * Site header
  */
  .site-header {
    border-top: 5px solid black;
    padding: 10px 0;
    font: 400 16px/1.5 "Noto Sans"
    font: 12px "Noto Sans"
}

.site-footer {
  border-top: 5px solid black;
  padding: 10px 0;
  font: 400 16px/1.5 "Noto Sans"
  font: 12px "Noto Sans"
}

/**
 * Wrapper */
 
 .sr-2 {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-left: 100px;
  padding-right: 40px;
  text-decoration: none;
  font-size: 50px;
 }

 sr-2.site-title{
  text-align: center;
 }

.site-nav {
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 25px;
      background-color: #FFFF;
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }
    }
  }
}