/*adding google fonts url for each font I want to import)*/


/* colors used
  #b6c887 jade green
  */


<style>
/* English Font Imports */
  @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');*/
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

/* Chinese Font Imports */
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');*/


body, h1, h2, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, a {
  margin: 0;
  padding: 0;
  color: #000
}

/**
* Basic styling
*/

a {
  text-decoration: underline;
  /* color: #000 */
}

 figcaption, p, ul, ol, a {
  font-family: "Lora";
  font-weight:400;
  font-size: 25px;
  color: #000;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 25px;
}

body {
  /* background-color: #b6c887, converted to RGB values, and the last value changes transparency */
  background: rgba(182, 200, 135, 0.7)
}

header {
  font-family: "Lora"
  font-weight: 400;
  font-size: 22px;
}
.site-title {
  font-family:"Lora"
  color: #000;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  text-decoration: none;
  text-align: center;
}

/* .site-title a {

} */

body {
  font-family: "Lora";
  font-weight: 400;
  font-size: 12px
  line-height: 150%;
  color: #000
  }

  /**
  * Site header
  */
  .site-header {
    border-top: 5px solid black;
    padding: 10px 0;
    font: 400 16px/1.5 "Noto Sans"
    font: 12px "Noto Sans"
}

.page_wrpr {
  margin-left: 0px;
  margin-right: 0px;
}

.site-footer {
  border-top: 5px solid black;
  padding: 10px 0;
  font: 400 16px/1.5 "Noto Sans"
  font: 12px "Noto Sans"
}

/* add white background to top nav  */
.topnav {
  background-color: #FFFFFF;
  margin-top: 100px;
  display: inline;
}

/* style links in nav bar */
 .topnav a {
  float: left;
  color: #000;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-width:2px;
  border-style:solid;
  border-color:#000;
}

/* .hamburger-menu ul, li {
  text-decoration: none;
  text-align: left;
  list-style: none;
}

#hamburger-menu {
    width: 50px;
    height: 50px;
    display: block;
    border: none;
    padding: 0px;
    margin: 20px;
    background: linear-gradient(
      to bottom,
      black, black 20%,
      #b6c887 20%, #b6c887 40%,
      black 40%, black 60%,
      #b6c887 60%, #b6c887 80%,
      black 80%, black 100%
    );
}
#hamburger-menu #sidebar-menu {
    visibilty: hidden;
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100%;
    background-color: #FFFFFF;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu #sidebar-menu li {
  margin-bottom: 100px;
}

#hamburger-menu li, ul {
  display: initial;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
} */

/* Change the color of links on hover
/* .topnav a:hover {
  background-color: #FFFF;
  color: jade;
} */

/* Add a color to the active/current link */
/* .topnav a.active {
  background-color: #04AA6D;
  color: white;
}  */
@media (min-width: 768px) {
  .nav-gallery li {
    border-bottom: none;
    display: inline-block;
    border: 1px solid white;
  }
}

@media (min-width: 768px) {
  .nav-gallery li {
    border-bottom: none;
    display: inline-block;
    border: 1px solid white;
  }
}
@media (min-width: 768px) {
  .nav-gallery li {
    border-bottom: none;
    display: inline-block;
    border: 1px solid white;
  }
}
